<h1>Listing participants</h1>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Contest</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.score %></td>
        <td><%= participant.contest %></td>
        <td><%= participant.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
